<div class="container mt-2">
  <h6 class="text-primary">Intenta ingresar sin tener el usuario y clave correcta!</h6>
  <div class="row" style="flex-direction: row; justify-content: space-between;" >
    <button type="button" class="btn btn-danger" style="width: 12rem;" [routerLink]="['/producto']">ir a Producto</button>
    <button type="button" class="btn btn-danger" style="width: 12rem;" [routerLink]="['/home']">ir al Inicio</button>
  </div>
</div>
<div class="container mt-3">
  <form>
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" class="form-control" name="usuario" id="usuario" [(ngModel)]="loginUser.usuario">
    </div>
    <div class="mb-3">
      <label for="clave" class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="clave" id="clave" [(ngModel)]="loginUser.clave">
    </div>
    <button (click)="iniciarSesion()" type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</div>
